*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    padding: 2vw;
}

#movie-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3vw;
    width: 100%;
    margin-left: 3vw;
    padding: 1vw;
    margin-top: 2vw;
}

.movie-card{

}